{% extends "base.html" %}
{% block content %}



<a href="{% url 'home' %}" class="btn-primary">
        <i class="bi bi-arrow-left-circle-fill"></i> 
      </a>
<div class="auth-wrapper">
  <div class="auth-card">

    <div class="auth-title">Hyr si Administrator</div>

    <form method="post" class="auth-form">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>

      <button type="submit" class="auth-button">Hyr</button>
    </form>


  </div>
</div>

{% endblock %}