{% extends "base.html" %}
{% block content %}

<a href="{% url 'student_login' %}" class="btn-primary">
    <i class="bi bi-arrow-left-circle-fill"></i>
</a>

<div class="auth-wrapper">
  <div class="auth-card">

    <div class="auth-title">Rikthe Fjalëkalimin</div>

    <form method="post" class="auth-form">
      {% csrf_token %}

      <div>
        <label>Emri i përdoruesit</label>
        <input type="text" name="username"
               value="{{ form.username.value|default_if_none:'' }}"
               placeholder="Username" required>
        <div class="auth-error">{{ form.username.errors }}</div>
      </div>

      <div>
        <label>Barcode</label>
        <input type="text" name="barcode"
               value="{{ form.barcode.value|default_if_none:'' }}"
               placeholder="Kodi i kartës studentore" required>
        <div class="auth-error">{{ form.barcode.errors }}</div>
      </div>

      <div>
        <label>Emri</label>
        <input type="text" name="first_name"
               value="{{ form.first_name.value|default_if_none:'' }}"
               placeholder="Emri" required>
        <div class="auth-error">{{ form.first_name.errors }}</div>
      </div>

      <div>
        <label>Mbiemri</label>
        <input type="text" name="last_name"
               value="{{ form.last_name.value|default_if_none:'' }}"
               placeholder="Mbiemri" required>
        <div class="auth-error">{{ form.last_name.errors }}</div>
      </div>

      <button type="submit" class="auth-button">Vazhdo</button>
    </form>

    <div class="auth-link">
      Ke llogari? <a href="{% url 'student_login' %}">Identifikohu</a>
    </div>

  </div>
</div>

{% endblock %}
